body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    text-align: justify;
}
.sp{
    color: orange;
}
#small{
    font-size: 15px;
    font-style: normal;
    color: white;
    background-color: orange;
    border-radius: 5px;
}
section{
    display: flex;
}
.divi{
    margin-left: 5%;
    margin-right: 5%;
}
.para{
    text-align: justify;
    font-size: 20px;
}
#nid{
    padding-right: 10%;
}
#one{
box-shadow:10px 10px 40px blue;
border-radius: 20px;
padding: 2%;
border-left: 10px solid blue;
}
#two{
box-shadow:10px 10px 40px red;
padding: 2%;
border-radius: 20px;
border-left: 10px solid red;
}
footer{
    text-align: center;
}
#image1{
background-image: url(image/top-banner.png);
background-repeat: no-repeat;
}
#image2{
background-image: url(image/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
#image3{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(skyblue, red);
    border-radius: 5px;
    padding: 2% 5%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
